@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Murecho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Lilita+One&family=Lobster+Two:ital,wght@1,700&family=Murecho&family=Outfit:wght@200&display=swap');
 .main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  } 
  
  .info{
    margin: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 290px;
    height: 100px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
  }

.image{
    margin: 8px;
    align-items: center;
    justify-content: center;
    right: 0px;
}
.container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.big {
    margin: 12px;
    border-radius: 15px;
    /* background: #e0e0e0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 19px #c5c5c5,
    -5px -5px 19px #fbfbfbe5;
}

.container:hover{
  border-radius: 15px;
  box-shadow: 5px 5px 19px #a7d7fae1,
                -5px -5px 19px #b6d8f0;
}

.search {
    margin: 20px;
}
input{
    background-color: #e2e0e0;
    width: 150px;
    height: 30px;
    text-align: center;
    /* outline: none; */
    border: none;
    border-radius: 8px;
    margin: 5px;
}

input:hover{
  cursor: pointer;
  background-color: #a2d8ff85;

}

.header{
position: relative;
background: rgba(255, 255, 255, 0.07);
border-radius: 8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
background: rgb(255, 255, 255,0.2);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(10.6px);
border: 1px solid rgba(255, 255, 255, 0.09);
}

.catalogheader{
    margin: 20px;
    font-family: 'Lobster Two', cursive;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    font-size: 23px;
    letter-spacing: 1px;
}

.star{
    top: 15px;;
    right: 15px;;
    position: absolute;
    z-index: -1000;
}

.foot {
    position: relative;
    color: #181616;
    float: right;
    margin: 25px;
    transition: 0.3s all ease;
    font-weight: bold;
    font-size: 11px;
  }

  .foot:hover {
    color: #f76b39;
    cursor: pointer;
    font-weight: bolder;
  }

  .iconcart{
      margin: 5px;
  }

  .iconbag{
      margin: 5px;
  }
  .circle {
    position: absolute;
    height: 150px;
    width: 150px;
    background: black;
    border-radius: 50%;
    z-index: -2000000;
  }

  .maincircle {
    background: #a2d9ff;
    right: -50px;
    top: -60px;
    z-index: -2000000;
  }

  .circle2 {
    position: absolute;
    height: 50px;
    width: 50px;
    background: black;
    border-radius: 50%;
    z-index: -2000000;
  }

  .minicircle {
    background: #a2d9ff;
    right: 100px;
    top: 45px;
    z-index: -300;
  }

  .search-btn{
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 30%;
    background-color: #eceaea;
  }

  .search-btn:hover{
    size: 50px;
    border-radius: 50%;
    background-color: #a2d8ff85;
    cursor: pointer;
  }
  
  .price{
    font-family: sans-serif;
    font-weight: bold;
  }
